<%= f.submit 'Создать задание' %><br>
Автозаполнение для города, универа и школы пока работает только для России и Москвы.
<table>
  <tr>
    <td> Название: </td>
    <td> <%= f.text_field :name %> </td>
  </tr>
  <tr>
    <td> Сообщение: </td>
    <td> <%= f.text_area :content, :input_html => { :value => "Текст для отправки пользователям."}, :toolbar => 'Basic', :width => 600 %></td>
  </tr>
  <tr>
    <td>Поисковый URL</td>
    <td>
      <%= f.text_field :query %>
    </td>
  </tr>
  <tr>
    <td>Отступ от начала списка: </td>
    <td><%= f.text_field :offset, :size => 5 %> </td>
  </tr>
</table>