<html>
<head>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%#= javascript_include_tag "ZeroClipboard" %>
  <!--<script type="text/javascript">
    ZeroClipboard.setMoviePath( 'http://localhost:3000/assets/ZeroClipboard.swf' );
    var clip = new ZeroClipboard.Client();
  </script>
  -->
  <%= csrf_meta_tag %>
</head>
<body style="padding: 20px">
  <div id="request">
    <h1><%= @dmp_request.name %></h1>
    <div id="request_content">
      Содержание сообщения: <br>
      <p class="dmp_content" id='dmp_content' style="display: none;"><%= @dmp_request.content %></p>
      <div class="dmp_view_content"><%= raw RedCloth.new(@dmp_request.content).to_html %></div>
      <!--
      <div id="d_clip_container" style="position:relative;">
        <div id="d_clip_button">Скопировать</div>
      </div>
      
      <script type="text/javascript" >
        clip.setText('<%= escape_javascript @dmp_request.content %>');
        clip.glue( 'd_clip_button', 'd_clip_container' );
      </script>
      -->
      <hr>
      <% if is_admin? %>
        Параметры: <br>
        <br>
        <% @dmp_request.vk_attrs.delete_if{|k, v| v.blank?}.each do |k, v| %>
          <p><%= k %>: <%= v %></p>
        <% end %>
        <a href="http://vk.com/search?<%= @dmp_request.query %>"> check url </a>
      <% end %>
      <span id="check_url"></span> 
    </div>
    <br>
    <%= link_to "Edit", dmp_edit_path(@dmp_request.id) if is_admin? %> 
    <%= link_to "Destroy", dmp_destroy_path(@dmp_request.id) if is_admin? %>
  </div>
  <%= link_to "Получить список отправки", dmp_show_vkusers_path(@dmp_request.id) %>
  <div id="vkusers">
    <% @vkusers.each do |vkuser| %>
      <%= link_to "http://vk.com/write#{vkuser.vkid}", "#", :target => "_blank", id: vkuser.vkid.to_s %><br>
      <script>                                                                                       
        $('#<%= vkuser.vkid %>').click(function(){                                                   
          $.ajax({                                                                                   
            type: 'POST',                                                                            
            url: '/vkuser_sent',                                                                     
            data: {vkid: <%= vkuser.vkid %>}                                                         
          })
          $(this).attr('class', 'dmp_sent');
          open_in_new_tab("http://vk.com/write<%=vkuser.vkid%>");
          return false;
        })                                                                                           
      </script>
    <% end %>
    
  </div>
</body>
</html>